# Environment files
.env
*.env
.rnv

# Logs
*.log

# OS-specific junk
.DS_Store

# Python cache / compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual environment
venv/
.env/
.venv/

# Packaging / build
build/
dist/
*.egg-info/
.eggs/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# IDE/editor files
.vscode/
.idea/
*.swp